<h2 mat-dialog-title>Пользовательское соглашение</h2>

<mat-dialog-content class="mat-typography">
  
  <p>Настоящий документ «Пользовательское соглашение» представляет собой предложение сервиса “configCastle” заключить договор на изложенных ниже условиях Соглашения.</p>  
  
  <h3>1. Общие положения пользовательского соглашения</h3>
  <p>По условиям настоящего документа пользователь соглашается с тем фактом, что все его данные будут храниться с использованием облачных технологий на серверах, расположенных за пределами территории РФ.</p>
  <p>Тем не менее, эти данные защищаются от кражи или утери средствами информационной безопасности как Администрации, так и сторонних облачных сервисов хранения данных.</p>
  
  <h3>2. Условия пользования по Соглашению</h3>
  <p>2.1 Технические, организационные и коммерческие условия использования Сервиса, в том числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.</p>
  <p>2.2 Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.</p>
  
  <h3>Лицензия на использование пользовательского контента</h3>
  <p>Публикуемый пользователем контент, отмеченный им, как публичный может быть как распространён в рамках сервиса, так и использован другими пользователями сервиса.</p>
  
  <h3>Ограничения использования</h3>
  <p>За пользователем сохраняется обязанность соблюдать требования федерального закона Об информации в редакции нового антипиратского закона предполагает удаление информационным посредником спорных материалов по первому обращению правообладателя. Поэтому Пользовательское соглашение должно предоставлять владельцу интернет-сервиса такую возможность без предварительного согласования и уведомления пользователя.</p>
  
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>