<div class="wr" *ngIf="form">
  
  <input *ngIf="form.key" [formControl]="form.key">
  <button *ngIf="form.key && isArray()" (click)="remove()">×</button>

  <div *ngIf="isArray(); else value">
    <app-editor-element (changed)="changeIndentedElement($event)" *ngFor="let element of form.value" [form]="element">
    </app-editor-element>
  </div>

  <ng-template #value>
    <ng-container *ngIf="form.value">
      <input [formControl]="form.value">
      <button (click)="remove()">×</button>
      <button *ngIf="form.key" (click)="breakLeft()">←</button>
      <button *ngIf="!form.key" (click)="breakRight()">→</button>
      <button (click)="breakDown()">↴</button>
    </ng-container>
  </ng-template>

  <button (click)="add()">+</button>

</div>
