@import '~src/variables';

.wrapper {
  padding-left: 15px;
  border-left: 1px solid $outline-color;
  font-size: 12px;
  padding-bottom: 5px;
  position: relative;
  white-space: nowrap;
  
  &:hover {
    border-left-color: $accent;
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0;
  }
  .mat-form-field-wrapper {
    padding: 3px 0;
  }
}

input {
  font-family: monospace;
}

.colon {
  font-size: 16px;
  font-weight: bolder;
  padding: 0 5px;
}
