<div class="wr">
  <div *ngIf="form">
    <input *ngIf="form.key" [formControl]="form.key">
    <button *ngIf="isArray()" (click)="remove()">x</button>

    <div *ngIf="isArray(); else control">
      <app-editor-element (changed)="changeIndentedElement($event)" *ngFor="let element of form.value" [form]="element">
      </app-editor-element>
      <button class="add-button" (click)="add()">+</button>
    </div>
    <ng-template #control>
      <input *ngIf="form.value" [formControl]="form.value">
      <button (click)="remove()">x</button>
    </ng-template>

  </div>
</div>
