<div class="wr">
  <h2>Подписка</h2>
  <p class="error" *ngIf="error$ | async as error">{{ error.message }}</p>
  <mat-spinner *ngIf="loading" [diameter]="20"></mat-spinner>
  <div [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput type="text" name="login" formControlName="login" autocomplete="new-password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput type="password" name="password" formControlName="password" autocomplete="new-password">
    </mat-form-field>
  </div>
  <mat-checkbox [(ngModel)]="agree">Я согласен с условиями <a href="#" (click)="openAgreement(); false">пользовательского
      соглашения</a></mat-checkbox>
  <div class="controls">
    <button mat-stroked-button (click)="signUp()" [disabled]="!agree">Подписаться</button>
  </div>
</div>