@import '~src/variables';

mat-form-field,
input {
  width: 100%;
}

a {
  color: $accent
}

.error {
  margin-top: 0;
  color: #d34b21
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
