<section class="main-wrapper">
  <app-header>
    <app-header-left>
      <div class="logo">
        <svg width="37" height="37" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 5C0 2.23858 2.23858 0 5 0H53C55.7614 0 58 2.23858 58 5V53C58 55.7614 55.7614 58 53 58H5C2.23858 58 0 55.7614 0 53V5Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18.1876 30H12V7H18V18.0014C19.1977 16.8274 20.5442 15.803 22.0116 14.957C23.2794 14.2262 24.6172 13.6403 26 13.2055V7H29V18.6095C27.6049 18.9155 26.2579 19.4348 25.0081 20.1552C22.7059 21.4823 20.829 23.4373 19.5966 25.7916C18.9027 27.1171 18.4293 28.5384 18.1876 30Z"
            fill="#ED5182" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18.1876 30H12V32H12.002C11.9928 32.6489 12.0151 33.2997 12.0695 33.9502C12.3857 37.7332 13.7721 41.3481 16.0665 44.3725C18.361 47.3968 21.4688 49.7057 25.0268 51.0293C25.3489 51.1491 25.6734 51.2603 26 51.3631V44.9334C23.9766 43.9736 22.2073 42.5395 20.8466 40.746C19.2405 38.629 18.27 36.0985 18.0487 33.4504C17.9519 32.2932 18 31.1345 18.1876 30Z"
            fill="#F278A1" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M26 19.6352V7H32V12.2843C32.2843 12.2843 32.569 12.2903 32.8538 12.3025C35.3286 12.4083 37.7503 12.9721 40 13.954V7H46V20.8H40V20.7951C37.8196 19.2769 35.2522 18.4105 32.5977 18.297C30.3168 18.1996 28.0526 18.6615 26 19.6352Z"
            fill="#424242" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M26 44.9334L26 51.3631C29.2825 52.3954 32.7821 52.565 36.1593 51.847C39.8725 51.0575 43.2843 49.2276 45.9961 46.5709L41.7973 42.2849C39.899 44.1446 37.5107 45.4255 34.9115 45.9782C32.3122 46.5308 29.6094 46.3323 27.1188 45.4058C26.7382 45.2642 26.365 45.1065 26 44.9334Z"
            fill="#F6A5C1" />
        </svg>
        <p>configCastle</p>
      </div>
    </app-header-left>
    <app-header-right>
      <div class="header-controls">
        <button mat-stroked-button [routerLink]="['editor', 'free_editor']" color="primary">Открыть редактор</button>
        <button mat-stroked-button (click)="openSignUpForm()">Оформить подписку</button>
        <button mat-button (click)="openLogInForm()">Войти</button>
      </div>
    </app-header-right>
  </app-header>
  <main>
    <div class="grid">
      <section class="about">
        <mat-card>
          <mat-card-header>
            <mat-card-title>О проекте</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><span class="hilight">configCastle</span> – это активно развивающийся сервис, который позволит с
              лёгкостью создавать и редактировать конфигурации для Вашего проекта. Мы проедоставляем удобный интерфейс с
              широким спектром возможностей, позволяющих экомомить время на разработке.</p>
            <div class="screenshot-container mat-elevation-z1">
              <img src="assets/editor_screenshot.jpg" alt="Editor screenshot">
              <div class="cover">
                <button mat-raised-button [routerLink]="['editor', 'free_editor']" color="primary">Открыть редактор</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
      <section class="pro-suggestion">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Попробуйте <span class="hilight">Pro</span></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>При подписке на Pro Вы получите доступ в личный кабинет, где будут храниться все Ваши работы.</p>
            <div class="screenshot-container mat-elevation-z1">
              <img src="assets/dashboard_screenshot.jpg" alt="Dashboard screenshot">
              <div class="cover">
                <button mat-stroked-button (click)="openSignUpForm()">Оформить подписку</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </main>
</section>