.editor-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.file-name {
  margin: 0;
  padding: 30px 15px 20px 15px;
}

.grid-wrapper {
  display: flex;
  flex: 1;
  min-height: 0px;
}

.grid {
  flex: 1;
  overflow: auto;
  display: flex;
  height: 100%;
  padding: 0 15px;

	.graphic-editor {
    height: 98%;
    overflow: auto;
    flex-basis: 60%;
    margin-right: 10px;
	}
  
	.text-editor {
    height: 100%;
		flex-basis: 40%;
	}
}
