<div class="files" *ngIf="files$ | async as files; else noFiles">
  <div class="grid" *ngIf="files.length; else noFiles">
    <div class="file" [routerLink]="['/', file.id]" *ngFor="let file of files">
      <span class="file-name" [title]="file.name">{{ file.name }}</span>
    </div>
    <div class="create-file" (click)="createFile()">
      <fa-icon [icon]="icons.faPlus"></fa-icon>
    </div>
  </div>
</div>
<ng-template #noFiles>
  <div class="no-files">
    <p>Can not load files.</p>
  </div>
</ng-template>