@import "~src/variables";

.user {
  font-size: 1rem;

  .user-login {
    margin-left: 10px;
  }
}

.files {
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 15px;
}

.file {
  cursor: pointer;

  &:focus {
    outline: none
  }
  
  .file-name {
    margin: 10px 0;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    border-color: $accent;
  }
}

.create-file {
  background-color: transparentize($outline-color, .5);
  color: transparentize($font-color, .5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 26px;
  
  &:hover {
    color: $font-color;
    background-color: $outline-color;
  }
}
