<app-header>
  <app-header-left>
    <div class="user">
      <fa-icon [icon]="icons.faUser"></fa-icon>
      <span class="user-login">{{ userName }}</span>
    </div>
  </app-header-left>
  <app-header-right>
    <button mat-button (click)="logOut()">Выйти</button>
  </app-header-right>
</app-header>
<mat-progress-bar *ngIf="loading$ | async; else loaded" mode="indeterminate"></mat-progress-bar>
<ng-template #loaded>
  <div class="files" *ngIf="files$ | async as files; else noFiles">
    <div class="grid">
      <mat-card matRipple class="file mat-elevation-z3" [routerLink]="['../', 'editor', file.id]" *ngFor="let file of files">
        <span class="file-name" [title]="file.name">{{ file.name }}</span>
      </mat-card>
      <div class="create-file" (click)="createFile()">
        <fa-icon [icon]="icons.faPlus"></fa-icon>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noFiles>
  <div class="no-files">
    <p>Не удалось загрузить файлы.</p>
  </div>
</ng-template>