@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import './variables';

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: $font-color;
  background-color: $background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, a:hover, a:visited {
  color: $font-color;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
