@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import './variables';

html,
body {
  overflow-x: hidden;
  width: 100%;
  color: $font-color;
  background-color: $background;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
